# 仮想環境
venv/
.venv/

# 環境変数ファイル
.env

# Pythonキャッシュファイル
__pycache__/
*.py[cod]
*$py.class

# インプット、アウトプット
input/
output/

# データベースファイル
*.sqlite3
*.db

# ログディレクトリ
logs/

# ログファイル（もしあれば）
*.log

# OS固有のファイル
.DS_Store
Thumbs.db

# IDE/エディタの設定ファイル（例: VSCode）
.vscode/

# その他ビルドや配布関連
build/
dist/
*.egg-info/
